.App {
  display: flex;
  // flex-wrap: wrap;
  background-color: whitesmoke;
}

.box {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow-light);

  &__title {
    text-transform: capitalize;
    // margin-bottom: 2rem;
  }
}

.widgetContainer {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--color-gray);
  font-weight: 500;
  box-shadow: var(--box-shadow-light);

  &:hover {
    filter: brightness(0.9);
  }
}

.btn-sm {
  padding: 0.7rem 1rem;
}

.btn-primary {
  color: var(--color-primary);
  background-color: rgba(#2e8bc0, 0.1);
}

.btn-success {
  color: #00c684;
  background-color: rgba(#00c684, 0.1);
}

.btn-warning {
  color: #ffa500;
  background-color: rgba(#ffa500, 0.1);
}

.btn-danger {
  color: #e32227;
  background-color: rgba(#e32227, 0.1);
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  box-shadow: var(--box-shadow-light);
}

.link,
.link:visited,
.link:active {
  text-decoration: none;
  color: inherit;
}

.MuiDataGrid-root {
  font-size: 1.4rem !important;
}
